* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #171717, #272727);
    color: rgb(238, 238, 238);
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}